### Data-1

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
data_1 = pd.read_csv('../DataSet/Screening/Autism Adolescent/csv_result-Autism-Adolescent-Data.csv')

In [3]:
data_1

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,0,0,0,1,1,1,1,1,1,...,m,Hispanic,yes,yes,Austria,no,6,12-16 years,Parent,NO
1,2,0,0,0,0,0,0,0,0,1,...,m,Black,no,no,Austria,no,2,12-16 years,Relative,NO
2,3,0,0,0,0,0,0,0,0,1,...,f,?,no,no,AmericanSamoa,no,2,12-16 years,?,NO
3,4,0,1,1,1,1,1,0,1,1,...,f,White-European,no,no,United Kingdom,no,7,12-16 years,Self,YES
4,5,1,1,1,1,1,1,1,0,0,...,f,?,no,no,Albania,no,7,12-16 years,?,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,0,1,1,1,0,1,1,0,1,...,f,Middle Eastern,no,no,Anguilla,yes,6,12-15 years,Parent,NO
100,101,1,0,1,0,0,0,0,1,0,...,m,Asian,no,no,India,no,4,12-15 years,Parent,NO
101,102,1,0,0,1,1,1,1,1,1,...,f,White-European,no,no,United Kingdom,no,8,12-16 years,Self,YES
102,103,1,1,0,1,1,0,0,0,1,...,f,White-European,no,no,United Kingdom,no,6,12-16 years,Self,NO
103,104,1,0,1,0,0,1,1,1,1,...,m,Asian,no,no,India,no,6,12-16 years,Parent,NO

In [4]:
data_1.drop('id', axis=1, inplace=True)

In [5]:
data_1['relation'].unique()

array(['Parent', 'Relative', '?', 'Self', 'Health care professional',
       'Others'], dtype=object)

In [6]:

data_1['contry_of_res'].unique()

array(['Austria', 'AmericanSamoa', 'United Kingdom', 'Albania', 'Belgium',
       'Afghanistan', 'Australia', 'Bahrain', 'Azerbaijan',
       'United Arab Emirates', 'New Zealand', 'United States',
       'Argentina', 'Jordan', 'Canada', 'Brazil', 'Croatia', 'India',
       'Bangladesh', 'France', 'Indonesia', 'Egypt', 'Netherlands',
       'Greenland', 'Bahamas', 'South Africa', 'Viet Nam', 'Comoros',
       'Portugal', 'Finland', 'Norway', 'Ireland', 'Anguilla'],
      dtype=object)

In [7]:
data_1['age'].unique()

array([15, 12, 14, 16, 13], dtype=int64)

In [8]:
display(data_1)

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,0,0,0,1,1,1,1,1,1,0,...,m,Hispanic,yes,yes,Austria,no,6,12-16 years,Parent,NO
1,0,0,0,0,0,0,0,0,1,1,...,m,Black,no,no,Austria,no,2,12-16 years,Relative,NO
2,0,0,0,0,0,0,0,0,1,1,...,f,?,no,no,AmericanSamoa,no,2,12-16 years,?,NO
3,0,1,1,1,1,1,0,1,1,0,...,f,White-European,no,no,United Kingdom,no,7,12-16 years,Self,YES
4,1,1,1,1,1,1,1,0,0,0,...,f,?,no,no,Albania,no,7,12-16 years,?,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,0,1,1,1,0,1,1,0,1,0,...,f,Middle Eastern,no,no,Anguilla,yes,6,12-15 years,Parent,NO
100,1,0,1,0,0,0,0,1,0,1,...,m,Asian,no,no,India,no,4,12-15 years,Parent,NO
101,1,0,0,1,1,1,1,1,1,1,...,f,White-European,no,no,United Kingdom,no,8,12-16 years,Self,YES
102,1,1,0,1,1,0,0,0,1,1,...,f,White-European,no,no,United Kingdom,no,6,12-16 years,Self,NO
103,1,0,1,0,0,1,1,1,1,0,...,m,Asian,no,no,India,no,6,12-16 years,Parent,NO

#### Converting binary categorial variable to numerical variables

In [9]:
data_1['gender'].replace(['f','m'], [0,1] ,inplace=True)
data_1['jundice'].replace(['yes','no'],[1,0], inplace = True)
data_1['austim'].replace(['yes','no'],[1,0], inplace = True)
data_1['used_app_before'].replace(['yes','no'],[1,0], inplace = True)
data_1['Class/ASD'].replace(['YES','NO'],[1,0], inplace = True)

In [10]:
data_1

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,0,0,0,1,1,1,1,1,1,0,...,1,Hispanic,1,1,Austria,0,6,12-16 years,Parent,0
1,0,0,0,0,0,0,0,0,1,1,...,1,Black,0,0,Austria,0,2,12-16 years,Relative,0
2,0,0,0,0,0,0,0,0,1,1,...,0,?,0,0,AmericanSamoa,0,2,12-16 years,?,0
3,0,1,1,1,1,1,0,1,1,0,...,0,White-European,0,0,United Kingdom,0,7,12-16 years,Self,1
4,1,1,1,1,1,1,1,0,0,0,...,0,?,0,0,Albania,0,7,12-16 years,?,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,0,1,1,1,0,1,1,0,1,0,...,0,Middle Eastern,0,0,Anguilla,1,6,12-15 years,Parent,0
100,1,0,1,0,0,0,0,1,0,1,...,1,Asian,0,0,India,0,4,12-15 years,Parent,0
101,1,0,0,1,1,1,1,1,1,1,...,0,White-European,0,0,United Kingdom,0,8,12-16 years,Self,1
102,1,1,0,1,1,0,0,0,1,1,...,0,White-European,0,0,United Kingdom,0,6,12-16 years,Self,0
103,1,0,1,0,0,1,1,1,1,0,...,1,Asian,0,0,India,0,6,12-16 years,Parent,0

#### Filling missing values

In [11]:
data_1['relation'] = data_1['relation'].replace('?',np.nan)

In [12]:
print(data_1.isnull().any().any())
print(data_1.isnull().sum().sum())

True
6

In [13]:
data_1.columns[data_1.isna().any()].tolist()

['relation']

In [14]:
data_1['relation'].mode()

0    Self
dtype: object

In [15]:
data_1['relation'].fillna('Self', inplace = True)

In [16]:
print(data_1.isnull().any().any())
print(data_1.isnull().sum().sum())

False
0

In [17]:
data_1['age'].unique()

array([15, 12, 14, 16, 13], dtype=int64)

In [18]:
data_1['contry_of_res'].unique()

array(['Austria', 'AmericanSamoa', 'United Kingdom', 'Albania', 'Belgium',
       'Afghanistan', 'Australia', 'Bahrain', 'Azerbaijan',
       'United Arab Emirates', 'New Zealand', 'United States',
       'Argentina', 'Jordan', 'Canada', 'Brazil', 'Croatia', 'India',
       'Bangladesh', 'France', 'Indonesia', 'Egypt', 'Netherlands',
       'Greenland', 'Bahamas', 'South Africa', 'Viet Nam', 'Comoros',
       'Portugal', 'Finland', 'Norway', 'Ireland', 'Anguilla'],
      dtype=object)

In [19]:
data_1['relation'].unique()

array(['Parent', 'Relative', 'Self', 'Health care professional', 'Others'],
      dtype=object)

#### DataFrame to CSV

In [20]:
data_1.to_csv('../DataSet/Screening/Autism Adolescent/new_csv_result-Autism-Adolescent-Data.csv')