### Data-2

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
data_4 = pd.read_csv('../DataSet/Screening/Autism Toddler/Toddler Autism dataset July 2018.csv')

In [3]:
data_4

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,family member,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,family member,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,family member,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,family member,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,family member,Yes

In [4]:
data_4.drop('Case_No', axis=1, inplace=True)

In [5]:
display(data_4.head())

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

#### Converting binary categorial variable to numerical variables

In [6]:
data_4['Sex'].replace(['f','m'], [0,1] ,inplace=True)
data_4['Jaundice'].replace(['no','yes'], [0,1] ,inplace=True)
data_4['Family_mem_with_ASD'].replace(['no','yes'], [0,1] ,inplace=True)
data_4['Class/ASD Traits '].replace(['No','Yes'], [0,1] ,inplace=True)

In [7]:

data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,0,middle eastern,1,0,family member,0
1,1,1,0,0,0,1,1,0,0,0,36,4,1,White European,1,0,family member,1
2,1,0,0,0,0,0,1,1,0,1,36,4,1,middle eastern,1,0,family member,1
3,1,1,1,1,1,1,1,1,1,1,24,10,1,Hispanic,0,0,family member,1
4,1,1,0,1,1,1,1,1,1,1,20,9,0,White European,0,1,family member,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,1,0,White European,0,1,family member,0
1050,0,0,1,1,1,0,1,0,1,0,12,5,1,black,1,0,family member,1
1051,1,0,1,1,1,1,1,1,1,1,18,9,1,middle eastern,1,0,family member,1
1052,1,0,0,0,0,0,0,1,0,1,19,3,1,White European,0,1,family member,0
1053,1,1,0,0,1,1,0,1,1,0,24,6,1,asian,1,1,family member,1

In [8]:

print("Counting ? values\n")
print(data_4.isin(['?']).sum(axis=0))

Counting ? values

A1                        0
A2                        0
A3                        0
A4                        0
A5                        0
A6                        0
A7                        0
A8                        0
A9                        0
A10                       0
Age_Mons                  0
Qchat-10-Score            0
Sex                       0
Ethnicity                 0
Jaundice                  0
Family_mem_with_ASD       0
Who completed the test    0
Class/ASD Traits          0
dtype: int64

#### Filling missing values

In [9]:
print(data_4.isnull().any().any())
print(data_4.isnull().sum().sum())

False
0

In [10]:
data_4.columns[data_4.isna().any()].tolist()

[]

In [11]:
print(data_4.isnull().any().any())
print(data_4.isnull().sum().sum())

False
0

In [12]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,0,middle eastern,1,0,family member,0
1,1,1,0,0,0,1,1,0,0,0,36,4,1,White European,1,0,family member,1
2,1,0,0,0,0,0,1,1,0,1,36,4,1,middle eastern,1,0,family member,1
3,1,1,1,1,1,1,1,1,1,1,24,10,1,Hispanic,0,0,family member,1
4,1,1,0,1,1,1,1,1,1,1,20,9,0,White European,0,1,family member,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,1,0,White European,0,1,family member,0
1050,0,0,1,1,1,0,1,0,1,0,12,5,1,black,1,0,family member,1
1051,1,0,1,1,1,1,1,1,1,1,18,9,1,middle eastern,1,0,family member,1
1052,1,0,0,0,0,0,0,1,0,1,19,3,1,White European,0,1,family member,0
1053,1,1,0,0,1,1,0,1,1,0,24,6,1,asian,1,1,family member,1

In [13]:
data_4['Age_Mons'].unique()

array([28, 36, 24, 20, 21, 33, 22, 17, 25, 15, 18, 12, 29, 35, 32, 19, 14,
       13, 30, 23, 34, 26, 31, 27, 16])

Converting age in months to years

In [14]:
data_4['Age_Mons']=data_4['Age_Mons']/12

In [15]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,2.333333,3,0,middle eastern,1,0,family member,0
1,1,1,0,0,0,1,1,0,0,0,3.000000,4,1,White European,1,0,family member,1
2,1,0,0,0,0,0,1,1,0,1,3.000000,4,1,middle eastern,1,0,family member,1
3,1,1,1,1,1,1,1,1,1,1,2.000000,10,1,Hispanic,0,0,family member,1
4,1,1,0,1,1,1,1,1,1,1,1.666667,9,0,White European,0,1,family member,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,2.000000,1,0,White European,0,1,family member,0
1050,0,0,1,1,1,0,1,0,1,0,1.000000,5,1,black,1,0,family member,1
1051,1,0,1,1,1,1,1,1,1,1,1.500000,9,1,middle eastern,1,0,family member,1
1052,1,0,0,0,0,0,0,1,0,1,1.583333,3,1,White European,0,1,family member,0
1053,1,1,0,0,1,1,0,1,1,0,2.000000,6,1,asian,1,1,family member,1

Removing unwanted features

In [16]:
data_4.rename(columns= {'Qchat-10-Score':'result'}, inplace = True)

In [17]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,result,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,2.333333,3,0,middle eastern,1,0,family member,0
1,1,1,0,0,0,1,1,0,0,0,3.000000,4,1,White European,1,0,family member,1
2,1,0,0,0,0,0,1,1,0,1,3.000000,4,1,middle eastern,1,0,family member,1
3,1,1,1,1,1,1,1,1,1,1,2.000000,10,1,Hispanic,0,0,family member,1
4,1,1,0,1,1,1,1,1,1,1,1.666667,9,0,White European,0,1,family member,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,2.000000,1,0,White European,0,1,family member,0
1050,0,0,1,1,1,0,1,0,1,0,1.000000,5,1,black,1,0,family member,1
1051,1,0,1,1,1,1,1,1,1,1,1.500000,9,1,middle eastern,1,0,family member,1
1052,1,0,0,0,0,0,0,1,0,1,1.583333,3,1,White European,0,1,family member,0
1053,1,1,0,0,1,1,0,1,1,0,2.000000,6,1,asian,1,1,family member,1

In [18]:
del data_4['Family_mem_with_ASD']

In [19]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,result,Sex,Ethnicity,Jaundice,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,2.333333,3,0,middle eastern,1,family member,0
1,1,1,0,0,0,1,1,0,0,0,3.000000,4,1,White European,1,family member,1
2,1,0,0,0,0,0,1,1,0,1,3.000000,4,1,middle eastern,1,family member,1
3,1,1,1,1,1,1,1,1,1,1,2.000000,10,1,Hispanic,0,family member,1
4,1,1,0,1,1,1,1,1,1,1,1.666667,9,0,White European,0,family member,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,2.000000,1,0,White European,0,family member,0
1050,0,0,1,1,1,0,1,0,1,0,1.000000,5,1,black,1,family member,1
1051,1,0,1,1,1,1,1,1,1,1,1.500000,9,1,middle eastern,1,family member,1
1052,1,0,0,0,0,0,0,1,0,1,1.583333,3,1,White European,0,family member,0
1053,1,1,0,0,1,1,0,1,1,0,2.000000,6,1,asian,1,family member,1

In [20]:
data_4['austim'] = np.nan

#### DataFrame to CSV

In [21]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,result,Sex,Ethnicity,Jaundice,Who completed the test,Class/ASD Traits,austim
0,0,0,0,0,0,0,1,1,0,1,2.333333,3,0,middle eastern,1,family member,0,NaN
1,1,1,0,0,0,1,1,0,0,0,3.000000,4,1,White European,1,family member,1,NaN
2,1,0,0,0,0,0,1,1,0,1,3.000000,4,1,middle eastern,1,family member,1,NaN
3,1,1,1,1,1,1,1,1,1,1,2.000000,10,1,Hispanic,0,family member,1,NaN
4,1,1,0,1,1,1,1,1,1,1,1.666667,9,0,White European,0,family member,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,2.000000,1,0,White European,0,family member,0,NaN
1050,0,0,1,1,1,0,1,0,1,0,1.000000,5,1,black,1,family member,1,NaN
1051,1,0,1,1,1,1,1,1,1,1,1.500000,9,1,middle eastern,1,family member,1,NaN
1052,1,0,0,0,0,0,0,1,0,1,1.583333,3,1,White European,0,family member,0,NaN
1053,1,1,0,0,1,1,0,1,1,0,2.000000,6,1,asian,1,family member,1,NaN

In [22]:
data_4['age_desc'] = '1-3 years'
data_4.rename(columns= {'Age_Mons' : 'age'}, inplace = True)
data_4.rename(columns= {'Sex' : 'gender'}, inplace = True)
data_4.rename(columns= {'Ethnicity' : 'ethnicity'}, inplace = True)
data_4.rename(columns= {'Jaundice' : 'jaundice'}, inplace = True)

In [23]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,result,gender,ethnicity,jaundice,Who completed the test,Class/ASD Traits,austim,age_desc
0,0,0,0,0,0,0,1,1,0,1,2.333333,3,0,middle eastern,1,family member,0,NaN,1-3 years
1,1,1,0,0,0,1,1,0,0,0,3.000000,4,1,White European,1,family member,1,NaN,1-3 years
2,1,0,0,0,0,0,1,1,0,1,3.000000,4,1,middle eastern,1,family member,1,NaN,1-3 years
3,1,1,1,1,1,1,1,1,1,1,2.000000,10,1,Hispanic,0,family member,1,NaN,1-3 years
4,1,1,0,1,1,1,1,1,1,1,1.666667,9,0,White European,0,family member,1,NaN,1-3 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,2.000000,1,0,White European,0,family member,0,NaN,1-3 years
1050,0,0,1,1,1,0,1,0,1,0,1.000000,5,1,black,1,family member,1,NaN,1-3 years
1051,1,0,1,1,1,1,1,1,1,1,1.500000,9,1,middle eastern,1,family member,1,NaN,1-3 years
1052,1,0,0,0,0,0,0,1,0,1,1.583333,3,1,White European,0,family member,0,NaN,1-3 years
1053,1,1,0,0,1,1,0,1,1,0,2.000000,6,1,asian,1,family member,1,NaN,1-3 years

In [24]:
data_4.rename(columns= {'Who completed the test' : 'relation'}, inplace = True)
data_4['relation'].unique()

array(['family member', 'Health Care Professional',
       'Health care professional', 'Self', 'Others'], dtype=object)

In [25]:
data_4['relation'].replace({'Health Care Professional':'Health care professional'}, inplace = True)

In [26]:
data_4['relation'].unique()

array(['family member', 'Health care professional', 'Self', 'Others'],
      dtype=object)

In [27]:
data_4.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'age',
       'result', 'gender', 'ethnicity', 'jaundice', 'relation',
       'Class/ASD Traits ', 'austim', 'age_desc'],
      dtype='object')

In [28]:
col = data_4.pop('result')
data_4.insert(10,'result', col)

In [29]:
data_4.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'result',
       'age', 'gender', 'ethnicity', 'jaundice', 'relation',
       'Class/ASD Traits ', 'austim', 'age_desc'],
      dtype='object')

In [30]:
col = data_4.pop('austim')
data_4.insert(16,'austim', col)

col = data_4.pop('age_desc')
data_4.insert(len(data_4.columns)-1,'age_desc', col)

In [31]:
data_4

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,result,age,gender,ethnicity,jaundice,relation,austim,age_desc,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,3,2.333333,0,middle eastern,1,family member,NaN,1-3 years,0
1,1,1,0,0,0,1,1,0,0,0,4,3.000000,1,White European,1,family member,NaN,1-3 years,1
2,1,0,0,0,0,0,1,1,0,1,4,3.000000,1,middle eastern,1,family member,NaN,1-3 years,1
3,1,1,1,1,1,1,1,1,1,1,10,2.000000,1,Hispanic,0,family member,NaN,1-3 years,1
4,1,1,0,1,1,1,1,1,1,1,9,1.666667,0,White European,0,family member,NaN,1-3 years,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,1,2.000000,0,White European,0,family member,NaN,1-3 years,0
1050,0,0,1,1,1,0,1,0,1,0,5,1.000000,1,black,1,family member,NaN,1-3 years,1
1051,1,0,1,1,1,1,1,1,1,1,9,1.500000,1,middle eastern,1,family member,NaN,1-3 years,1
1052,1,0,0,0,0,0,0,1,0,1,3,1.583333,1,White European,0,family member,NaN,1-3 years,0
1053,1,1,0,0,1,1,0,1,1,0,6,2.000000,1,asian,1,family member,NaN,1-3 years,1

In [32]:
data_4.shape

(1054, 19)

In [33]:
data_4.to_csv('../DataSet/Screening/Autism Toddler/new Toddler Autism dataset July 2018.csv')