### Data-3

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
data_3 = pd.read_csv('../DataSet/Screening/Autism Child/csv_result-Autism-Child-Data.csv')

In [3]:
data_3

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,0,0,1,1,0,1,0,...,m,Others,no,no,Jordan,no,5,4-11 years,Parent,NO
1,2,1,1,0,0,1,1,0,1,0,...,m,Middle Eastern,no,no,Jordan,no,5,4-11 years,Parent,NO
2,3,1,1,0,0,0,1,1,1,0,...,m,?,no,no,Jordan,yes,5,4-11 years,?,NO
3,4,0,1,0,0,1,1,0,0,0,...,f,?,yes,no,Jordan,no,4,4-11 years,?,NO
4,5,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,United States,no,10,4-11 years,Parent,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,288,1,1,1,1,1,1,1,1,1,...,f,White-European,yes,yes,United Kingdom,no,10,4-11 years,Parent,YES
288,289,1,0,0,0,1,0,1,0,0,...,f,White-European,yes,yes,Australia,no,4,4-11 years,Parent,NO
289,290,1,0,1,1,1,1,1,0,0,...,m,Latino,no,no,Brazil,no,7,4-11 years,Parent,YES
290,291,1,1,1,0,1,1,1,1,1,...,m,South Asian,no,no,India,no,9,4-11 years,Parent,YES
291,292,0,0,1,0,1,0,1,0,0,...,f,South Asian,no,no,India,no,3,4-11 years,Parent,NO

In [4]:
data_3['relation'].unique()

array(['Parent', '?', 'Self', 'Relative', 'Health care professional',
       'self'], dtype=object)

In [5]:
data_3['relation'].replace({'self':'Self', 'Parent':'family member', 'Relative':'Others'}, inplace = True)

In [6]:
data_3['relation'].unique()

array(['family member', '?', 'Self', 'Others', 'Health care professional'],
      dtype=object)

In [7]:
data_3['age'].unique()

array(['6', '5', '4', '11', '10', '8', '7', '9', '?'], dtype=object)

In [13]:
data_3['ethnicity'].unique()

array(['Others', 'Middle Eastern ', '?', 'White-European', 'Black',
       'South Asian', 'Asian', 'Pasifika', 'Hispanic', 'Turkish',
       'Latino'], dtype=object)

In [14]:
display(data_3)

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,0,0,1,1,0,1,0,...,m,Others,no,no,Jordan,no,5,4-11 years,family member,NO
1,2,1,1,0,0,1,1,0,1,0,...,m,Middle Eastern,no,no,Jordan,no,5,4-11 years,family member,NO
2,3,1,1,0,0,0,1,1,1,0,...,m,?,no,no,Jordan,yes,5,4-11 years,?,NO
3,4,0,1,0,0,1,1,0,0,0,...,f,?,yes,no,Jordan,no,4,4-11 years,?,NO
4,5,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,United States,no,10,4-11 years,family member,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,288,1,1,1,1,1,1,1,1,1,...,f,White-European,yes,yes,United Kingdom,no,10,4-11 years,family member,YES
288,289,1,0,0,0,1,0,1,0,0,...,f,White-European,yes,yes,Australia,no,4,4-11 years,family member,NO
289,290,1,0,1,1,1,1,1,0,0,...,m,Latino,no,no,Brazil,no,7,4-11 years,family member,YES
290,291,1,1,1,0,1,1,1,1,1,...,m,South Asian,no,no,India,no,9,4-11 years,family member,YES
291,292,0,0,1,0,1,0,1,0,0,...,f,South Asian,no,no,India,no,3,4-11 years,family member,NO

#### Converting binary categorial variable to numerical variables

In [15]:
data_3['gender'].replace(['f','m'], [0,1] ,inplace=True)
data_3['jundice'].replace(['no','yes'], [0,1] ,inplace=True)
data_3['austim'].replace(['no','yes'], [0,1] ,inplace=True)
data_3['used_app_before'].replace(['no','yes'], [0,1] ,inplace=True)
data_3['Class/ASD'].replace(['NO','YES'], [0,1] ,inplace=True)

In [16]:
data_3

,id,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,0,0,1,1,0,1,0,...,1,Others,0,0,Jordan,0,5,4-11 years,family member,0
1,2,1,1,0,0,1,1,0,1,0,...,1,Middle Eastern,0,0,Jordan,0,5,4-11 years,family member,0
2,3,1,1,0,0,0,1,1,1,0,...,1,?,0,0,Jordan,1,5,4-11 years,?,0
3,4,0,1,0,0,1,1,0,0,0,...,0,?,1,0,Jordan,0,4,4-11 years,?,0
4,5,1,1,1,1,1,1,1,1,1,...,1,Others,1,0,United States,0,10,4-11 years,family member,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,288,1,1,1,1,1,1,1,1,1,...,0,White-European,1,1,United Kingdom,0,10,4-11 years,family member,1
288,289,1,0,0,0,1,0,1,0,0,...,0,White-European,1,1,Australia,0,4,4-11 years,family member,0
289,290,1,0,1,1,1,1,1,0,0,...,1,Latino,0,0,Brazil,0,7,4-11 years,family member,1
290,291,1,1,1,0,1,1,1,1,1,...,1,South Asian,0,0,India,0,9,4-11 years,family member,1
291,292,0,0,1,0,1,0,1,0,0,...,0,South Asian,0,0,India,0,3,4-11 years,family member,0

In [17]:
print("Counting ? values\n")
print(data_3.isin(['?']).sum(axis=0))

Counting ? values

id                  0
A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 0
gender              0
ethnicity          43
jundice             0
austim              0
contry_of_res       0
used_app_before     0
result              0
age_desc            0
relation           43
Class/ASD           0
dtype: int64

#### Filling missing values

In [21]:
data_3['relation'].mode()

0    family member
dtype: object

In [22]:
data_3['ethnicity'].mode()

0    White-European
dtype: object

In [23]:
data_3['ethnicity'] = data_3['ethnicity'].replace('?','White-European')
data_3['relation'] = data_3['relation'].replace('?','family member')

In [24]:
print(data_3.isnull().any().any())
print(data_3.isnull().sum().sum())

False
0

In [25]:
data_3['relation'].unique()

array(['family member', 'Self', 'Others', 'Health care professional'],
      dtype=object)

In [26]:
data_3['age'].unique()

array([ 6.        ,  5.        ,  4.        , 11.        , 10.        ,
        8.        ,  7.        ,  9.        ,  6.35416667])

In [27]:
data_3['ethnicity'].unique()

array(['Others', 'Middle Eastern ', 'White-European', 'Black',
       'South Asian', 'Asian', 'Pasifika', 'Hispanic', 'Turkish',
       'Latino'], dtype=object)

In [28]:
data_3.columns[data_3.isna().any()].tolist()

[]

In [29]:
print(data_3.isnull().any().any())
print(data_3.isnull().sum().sum())

False
0

#### DataFrame to CSV

In [30]:
data_3.to_csv('../DataSet/Screening/Autism Child/new_csv_result-Autism-Child-Data.csv')